<!-- footer.html -->
{% load staticfiles %}
<style>
    .footer{
        clear: both;/* 清除前后的浮动元素，使页脚显示在其下方 */
        position: relative;
        bottom:0;
        height:30px;
    }
    a{
        text-decoration: none;
        color: deepskyblue;
    }

</style>
<div class="footer">
    <center>
        {% block footer %}

            {% if now %}
                <center><p style="font-family: 'PingFang SC';">现在时刻: {{ now }}</p></center>
            {% else %}
                <center> <p style="font-family: 'PingFang SC'; color: cyan">人生苦短，我用Python</p></center>
            {% endif %}
        {% endblock %}
    </center>
</div>
