{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% block title %} {{ post.title }} - Pyhton知识小屋{% endblock %}
{% block headmessage %}
    <h3 style="font-family: 'PingFang SC';">  {{ post.title }} </h3>
{% endblock %}
{% block content %}
    <center><h2 style="font-family: 'PingFang SC';">  {{ post.title }} </h2></center>
    <p style="font-family: 'PingFang SC';font-size: 13pt;letter-spacing: 2pt;color: deepskyblue">
    {% load markdown_deux_tags %}
        {% markdown STYLE %}
        {{ post.body |safe }}
    {% endmarkdown %}
    </p>
   <center>
    <label style="font-size: 30px;"><a href="/passage" title="返回文章列表">返回博客</a></label>
    </center>
{% endblock %}