<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>\
    <style>
        h1,h2,h3,h4,h5,p,dic{
            font-family: "Microsoft YaHei";
        }
    </style>
</head>
<body>
{% include "header.html" %}
{% for p in products %}
    {% if forloop.first %}
        <center>
        <table>
        <tr bgcolor="#ff7f50">
            <td width="250">库存手机</td>
            <td width="250">品牌/型号</td>
            <td width="250">出厂年份</td>
            <td>价格</td>
        </tr>
    {% endif %}
<tr bgcolor="{% cycle "#ffccff" "ccffcc" %}">
    <td><a href='{% url "detail-url"  p.id %}'> {{ p.nickname }} </a> </td>
    <td>{{ p.pmodel.maker.name }} / {{ p.pmodel.name }}</td>
    <td>{{ p.year }}</td>
    <td align="right">{{ p.price }}</td>
</tr>
{% if forloop.last %}
    </table>
    </center>
{% endif %}
{% empty %}
    <h3>目前没有库存的小小佳手机可以卖，很抱歉</h3>
{% endfor %}

{% include "footer.html" %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
</body>
</html>