<!-- base.html -->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
    <title>{% block title %} {% endblock %}</title>
    <style type="text/css">
        body{
            background: center;
            background-color: #c0c0c0;
            margin: 0;/* 消除 body 中的留白 */
            padding: 0;
            text-align: center;
        }
        .main-content{
            width: 570px;
            background: center;
            float: right;
        }
    </style>
    <!-- Latest compiled and minified CSS  and javascript -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
    {% include 'header.html' %}
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 style="font-family: 'PingFang SC'; font-size: large;">
                        Menu
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="list-group" style="font-family: 'PingFang SC';font-style: oblique">
                        <a href="/" class="list-group-item" style="font-family: Verdana">menu</a>
                        <a href="http://www.qq.com/" class="list-group-item">看新闻</a>
                        <a href="https://v.qq.com/" class="list-group-item">看视频</a>
                        <a href="/about" class="list-group-item" >about</a>
                        <a href="https://yawuplus.github.io" class="list-group-item">blog</a>
<a href="/admin" class="list-group-item" >后台管理</a>
                        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=332 height=86 src="//music.163.com/outchain/player?type=2&id=32785674&auto=0&height=66"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% block headmessage %} {% endblock %}
                </div>
                <div class="panel-body">
                    {% block content %} {% endblock %}
                </div>
                <div class="panel-footer">
                    {% include 'footer.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>