{% extends "base.html" %}
{% load staticfiles %}
<style>
    .p{
        font-size: 100px;
        font-family: "Microsoft YaHei UI";
    }
</style>
{% block title %}
    <title>关于博主</title>
{% endblock title %}
{% block main %}
    <div class="badge">
        <h3>你好，我是风之小云天，一名python程序员</h3>
        <h3>我的联系方式如下:</h3>
        <div class="banner">
            <a href="//github.com/yawuplus" target="_blank">
                <img width="100" height="100" src="http://github.global.ssl.fastly.net/images/modules/logos_page/Octocat.png" alt="" title="Github"></a>
        </div>
        <p></p>
        <div class="banner">
            <a href="//www.zhihu.com/people/wulovejiajia" target="_blank" style="font-size: 70px;font-family: 'Microsoft YaHei UI';color: deepskyblue">
                知乎</a>
            <a href="//user.qzone.qq.com/1397991131" target="_blank">
                <img width="100" height="100" src="https://gss3.bdstatic.com/-Po3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike92%2C5%2C5%2C92%2C30/sign=1aa9f99b2b3fb80e18dc698557b8444b/34fae6cd7b899e5114f3cfbe48a7d933c8950d1e.jpg" alt="" title="QQ"></a>
        </div>
        <p></p>
        <div class="banner" >
            <a href="#" target="_blank">
                <img width="100" height="100" src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=3088020551,4198140884&fm=96" alt="" title="微信: wu30135681"></a>
            <a class="mail" target="_blank" href="mailto:1397991131@qq.com" title="mail"><i class="icon-mail"></i></a>
            <img width="100" height="100" src="https://gss0.bdstatic.com/-4o3dSag_xI4khGkpoWK1HF6hhy/baike/w%3D268%3Bg%3D0/sign=1e74921173f40ad115e4c0e56f1776e2/cdbf6c81800a19d8a831212c3bfa828ba61e46ec.jpg" alt="" title="邮箱: 1397991131@qq.com"></a>
        </div>
    </div>
{% endblock main %}