{% extends "base.html" %}

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
<style>
    .errorlist {
        color: red;
    }
</style>
{% block title %}
    <title>重置密码</title>
{% endblock title %}
{% block main %}
    <div class="flex-center">
        <div class="container">
            <div class="flex-center" style="line-height: 50px">
                <div class="unit-1-2 unit-1-on-mobile" style="font-size: 17px;position:relative;left:15%;right:0;top:0;bottom:0;margin:auto;">
                    <h3>重置密码</h3>
                    <form class="form" action="{% url 'password_reset' %}" method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {% for field in form %}
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.errors }}
                            {% if field.help_text %}
                                <p class="help text-small text-muted">{{ field.help_text|safe }}</p>
                            {% endif %}
                        {% endfor %}<br>
                        <button type="submit" class="btn btn-primary">提交</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}