{% extends 'base_accounts.html' %}

{% block title %}密码修改成功!{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">你的密码已经成功修改!</h3>
          <div class="alert alert-success" role="alert">
            你的密码已经成功修改，你可以登录了.
          </div>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">返回登录页面</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
