<!-- contact.html -->
{% extends "base.html" %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/default.css" %}">
<link href="{% static "css/reveal-it.css" %}" rel="stylesheet" type="text/css" />
<style type="text/css">
    p{
        text-align: justify;
        margin: 0;
        padding:0;
    }
    body{
        background-color: skyblue;
        padding: 0;
        text-align: center;
        background-repeat: round;
    }
    .box-row{padding: 0 2.5em ;}
    .box-row p{font-weight: 600;font-size: 1.2em;}
    .box-null{min-height: 5em;}
</style>
{% block title %} About us {% endblock %}<br>
{% block content %}
    {% if message %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endif %}
    <div class="htmleaf-container">
    <header class="htmleaf-header bgcolor-11">
        <h1>About us <span style="font-size: 40px;">A team of student fond of Python Programming</span></h1>
    </header>
    <div class="htmleaf-content">
        <div class="box-row">
            <div class="box1">
                <center><h2 style="color: black">人生苦短，我用Python</h2>
                    <p style="font-family: 'Apple LiGothic Medium';font-size: 20pt;font-weight: bold;color: deepskyblue">
                        组长: 贾亚武
                    </p>
                    <p style="font-family: 'Apple LiGothic Medium';font-size: 20pt;font-weight: bold;color: deepskyblue">组员: 杨子蘅</p>
                    <p style="font-family: 'Apple LiGothic Medium';font-size: 20pt;font-weight: bold;color: deepskyblue">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;常亚冲</p>
                    <p style="font-family: 'Apple LiGothic Medium';font-size: 20pt;font-weight: bold;color: deepskyblue">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;陈子扬</p>
                </center>
                <center>
                    <div class="htmleaf-links">
                        <a class="htmleaf-icon icon-home" href="/" title="Python 知识小屋" target="_blank">
                            <span>Python</span></a>
                    </div></center>
            </div>
        </div>
    </div>
    </center>
{% endblock %}

