<!-- contact.html -->
{% extends "base.html" %}
{% block title %} 联系管理员 {% endblock %}
{% block content %}
    {% if message %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endif %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <form name="my form" action="." method="post">
                    {% csrf_token %}
                    <h3 style="font-family: Verdana;font-size: medium;color: darkorange">写信给管理员</h3>
            </div>
            <div class="panel-body">
                {{ form.as_p }}
            </div>
            <div class="panel-footer">
                <input type="submit" value="提交">
                </form>
            </div>
        </div>
    </div>
{% endblock %}

