<!-- get method-->
{%  extends "base.html" %}
{% block title %} 宝宝要发帖 {% endblock %}
{% block content %}
    <div class="container">
        {%  if message %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endif %}
        <form name="my_form" action="/" method="get">
            <h3 style="font-family: 'PingFang SC';color:deepskyblue;font-size: 25px;">现在的心情:</h3>
            <p style="font-size: 20px">
                {% for m in moods %}
                    <input style="width:25px;height:25px" type="radio" name="mood" value="{{ m.status }}"> {{ m.status }}
                {% endfor %}</p>
            <br>
            <label style="font-family: Verdana;color: darkorange; font-size: 20px">心情留言板:</label><br>
            <textarea name="content" rows="10" cols="70" style= "overflow:hidden; "> </textarea><br><br>
            <label>您的昵称:</label>&nbsp;
            <input type="text" name="nickname">
            <label >&nbsp;&nbsp;发帖/删帖密码:</label>&nbsp;
            <input type="password" name="pwd" id="pwd"><br><br>
            <input type="submit" value="发帖">&nbsp;
            <input type="reset" value="清空重填">&nbsp;
        </form>
    </div>
{% endblock %}