<!-- header.html  -->
<nav class='navbar navbar-default'>
    <div class='container-fluid'>
        <div class='navbar-header'>
        </div>
        <ul class='nav navbar-nav' style="font-size: 35px;">
            <li class='active' ><a href='/' style="color: deepskyblue;font-size: 40px;">心情驿站</a></li>
            <li><a  href='/list' style="color: darkgray;font-size: 40px;">浏览信息</a></li>
            <li><a  href='/get' style="color: burlywood;font-size: 40px;">发布信息</a></li>
            <li><a  href="/movie" style="color: darksalmon;font-size: 40px;">伊人电影</a> </li>
            <li><a href="/passage" style="color: lightblue;font-size: 40px;">伊人编程</a> </li>
            <li><a  href="/contact" style="color: darkturquoise;font-size: 40px;">联系管理员</a></li>
            <!--    用post提交数据，结果失败了  <li><a href="/post">post发布信息</a> </li>    -->
            <li><a  href='/admin' style="color: fuchsia;font-size: 40px;">后台管理</a></li>
            <li><a  href="/about" style="color: wheat;font-size: 40px;">About</a> </li>
        </ul>
    </div>
</nav>