<!-- header.html (ch08www project) -->
<nav class='navbar navbar-default'>
    <div class='container-fluid'>
        <div class='navbar-header'>
            <div class='navbar-brand' align=center style="font-size: 35px">
                心灵社区
            </div>
        </div>
        <ul class='nav navbar-nav' style="font-size: 35px;">
            <li class='active'><a href='/'>Home</a></li>
            <li><a href='/list'>浏览信息</a></li>
            <li><a href='/get'>发布信息</a></li>
            <li><a href="/movie">伊人影视</a> </li>
            <li><a href="/contact">联系管理员</a></li>
            <!--    用post提交数据，结果失败了  <li><a href="/post">post发布信息</a> </li>    -->
            <li><a href='/admin'>后台管理</a></li>
            <li><a href="/about">About</a> </li>
        </ul>
    </div>
</nav>