<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>前端常用组件</title>
</head>
<body>
<label for="flist">
    最喜欢的水果
</label>
<select name="flist">
    <option value="0">Apple</option>
    <option value="1">Banana</option>
    <option value="2">Cherry</option>
</select><br>
最喜欢的颜色
<input type="radio" name="fcolor" value="Green">Green<br>
<input type="radio" name="fcolor" value="Blue">Red&nbsp;&nbsp;
<input type="radio" name="fcolor" value="Black">Black&nbsp;&nbsp;<br>
喜欢的一些颜色:
<input type="checkbox" name="cfcolor" value="Green">Green &nbsp;&nbsp;
<input type="checkbox" name="cfcolor" value="Red">Red &nbsp;&nbsp;
<input type="checkbox" name="cfcolor" value="Black">Black &nbsp;&nbsp;<br>
<input type="hidden" name="hidevalue" value="hidevalue"><br>
<input type="button" value="Baidu" onclick="location.href='https://www.baidu.com'"><br>
<br>
<textarea name="message" rows = 20 cols="40" data-value="hello java">
</textarea><br>
data
<data value="123"></data><br>
datalist
<datalist data-value="java" ></datalist><br>
<form name="my form" action="/" method="">
    <label for="user_id">Your ID:</label><br>
    <input id="user_id" type="text" name="user_id" width="100" height="20"><br>
    <label for="user_pass">Your Password:</label><br>
    <input id="user_id" type="password" name="user_pass"><br>
    <input type="submit" value="登录"><br>
    <input type="reset" value="重置"><br>
</form>
<input type="checkbox" name="color" value="Green">Green
<input type="checkbox" name="color" value="Red">Red
<input type="checkbox" name="color" value="Gray">Gray
<input type="checkbox" name="color" value="Blue">Blue
<input type="checkbox" name="color" value="Yellow">Yellow
{% if auth %}
    <p>您通过了验证</p>
{% else %}
    <p>用户名或密码错误</p>
{% endif %}
<label id="year">出生年份</label>
<select name="born_year">
    {% for year in years %}
        <option value="{{ year }}">{{ year }}</option>
    {% endfor %}
</select><br>
{% for c in colorlist %}
    {{ c }}
{% empty %}
    没有选择任何颜色
{% endfor %}<br>
<p>Your username:{{ user }}</p>
<p>Your password: {{ pwd }}</p>
<p>Your born year: {{ born_year }}</p>



</body>
</html>