<script>
    function go_delete(id) {
        var pwd = document.getElementById("pwd").value;
        if (pwd != "") {
            var usr = '/' + id + '/' + pwd;
            window.location = usr;
        }
        else {
            alert("输入删帖密码后才可以删除帖子哦");
        }
    }
</script>
<style>
    p{
        line-height: 10pt;
    }
</style>
{% extends "base.html" %}
{% block title  %} 我有话要说 {% endblock %}
{% block content %}
    <div class="container">
        {% if message %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endif %}
        <form name="my_form" action="/" method="get">
            <h3 style="font-family: 'PingFang SC';color: coral">现在的心情:</h3>
            <p style="font-size: 20px;">
                {% for m in moods %}
                    <input style="width:25px;height:25px" type="radio" name="mood" value="{{ m.status }}"> {{ m.status }}
                {% endfor %}</p>
            <br>
            <label style="font-family: Verdana;color: tan;font-size: 25px;">心情留言板:</label><br>
            <textarea name="content" rows="10" cols="70" style= "overflow:hidden; "> </textarea><br>
            <p></p>
            <label>您的昵称:</label>&nbsp;
            <input type="text" name="nickname">&nbsp;
            <label >发帖/删帖密码:</label>&nbsp;
            <input type="password" name="pwd" id="pwd"><br>
            <input type="submit" value="发帖">&nbsp;
            <input type="reset" value="清空重填">
        </form>
        <div class="row">
            <div class="col-md-12">
                    <div class="panel panel-default" align="center">
                        <h3 style="float: inherit;color: chocolate"><p>宝宝心里苦，宝宝只在这里说(๑•́ωก̀๑)</p></h3>
                    </div>
            </div>
            {% for p in posts %}
                {% cycle "<div class='row'> <div class='col-md-6'>" "<div class='col-md-6'>" %}
                <div class="panel panel-primary">
                    <div class="panel-heading">[ {{ p.nickname }} ] 觉得 {{ p.mood.status }}</div>
                    <div class="panel-body">{{ p.message | linebreaks }}</div>
                    <div  class="panel-footer" align="right" >
                        <i>{{ p.pub_date }}&nbsp;&nbsp;
                            <span onclick="go_delete({{ p.id }})"><input type="button" value="删帖"></span>
                        </i>
                    </div>
                </div>
                </div>
                {% cycle "" "" "</div>"%}
            {% endfor %}
    </div>
{% endblock %}