<script>
    function go_delete(id) {
        var pwd = document.getElementById("pwd").value;
        if (pwd != "") {
            var usr = '/' + id + '/' + pwd;
            window.location = usr;
        }
        else {
            alert("输入删帖密码后才可以删除帖子哦");
        }
    }
    function register() {
        alert("注册成功");
    }
</script>
{% extends "base.html" %}
{% load staticfiles %}
{% block title  %} 心情驿站 {% endblock %}
{% block content %}
    <div class="container">
        {% if message %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endif %}
        <form name="my_form" action="/" method="get">
            <h3 style="font-family: 'PingFang SC';color: coral;font-size: 25px;">现在的心情:</h3>
            <p style="font-size: 20px;">
                {% for m in moods %}
                    <input style="width:30px;height:30px;font-size: 30px;" type="radio" name="mood" value="{{ m.status }}"> {{ m.status }}
                {% endfor %}</p>
            <br>
            <label style="font-family: Verdana;color: deepskyblue;font-size: 25px;">心情留言板:</label><br>
            <p><textarea name="content"  rows="10" cols="70" style= "overflow:hidden; "> </textarea>
                <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//music.163.com/outchain/player?type=2&id=316759&auto=0&height=66"></iframe>
            </p><br>
            <label>用户名:</label>&nbsp;
            <input type="text" name="nickname">&nbsp;
            <label >密码:</label>&nbsp;
            <input type="password" name="pwd" id="pwd"><br><br>
            <input type="submit" value="注册" onclick="register()">&nbsp;
            <input type="reset" value="清空重填">
        </form>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading" align="center">
                        <h3 style="color: deepskyblue">~~~宝宝心里苦，宝宝只在这里说(ಥ _ ಥ)~~~</h3>
                    </div>
                </div>
                {% for p in posts %}
                    {% cycle "<div class='row'> <div class='col-md-6'>" "<div class='col-md-6'>" %}
                    <div class='panel {% cycle "panel-primary" "panel-info" "panel-warning" "panel-success" %}'>
                        <div class="panel-heading">
                            <table width="100%">
                                <tr>
                                    <td>
                                        [ {{ p.nickname }} ] 觉得 {{ p.mood.status }}
                                    </td>
                                    <td align="right">
                                        {{ p.pub_date }}&nbsp;&nbsp;
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-body" style="font-size: 15px;">{{ p.message | linebreaks }}</div>
                        <div  class="panel-footer" align="right" >
                            <i>{{p.pub_date}}&nbsp;&nbsp;
                                <span onclick="go_delete({{p.id}})"><input type="button" value=" 删帖 "></span>
                            </i>
                        </div>
                    </div>
                    </div>
                    {% cycle "" "" "</div>"%}
                {% endfor %}
        </div>
    </div>
{% endblock %}