<!-- listing.html  -->
{%  extends "base.html" %}
{% block title %} 宝宝要刷帖 {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" align="center">
                    <h3 style="color: deepskyblue">~~~宝宝心里苦，宝宝只在这里说(ಥ _ ಥ)~~~</h3>
                </div>
            </div>
            {% for p in posts %}
                {% cycle "<div class='row'> <div class='col-md-6'>" "<div class='col-md-6'>" %}
                <div class='panel {% cycle "panel-primary" "panel-info" "panel-warning" "panel-success" %}'>
                    <div class="panel-heading">
                        <table width="100%">
                            <tr>
                                <td>
                                    [ {{ p.nickname }} ] 觉得 {{ p.mood.status }}
                                </td>
                                <td align="right">
                                    {{ p.pub_date }}&nbsp;&nbsp;
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-body" style="font-size: 15px;">{{ p.message | linebreaks }}</div>
                </div>
                </div>
                {% cycle "" "" "</div>"%}
            {% endfor %}
        </div>
    </div>
{% endblock %}